<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">
    <div class="slide" id="nb">
      <div class="chatter">Shows the location of <span class="legendary blue4">stolen bikes</span> reported to police across Minneapolis from 2015 through 2018.</div>
      <div id="map" class="map"></div>
      <div class="byline">Data source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
  </div>
  </div>
</main>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
